<div class="app-container">
    <div class="number-container">
        <h1 class="text-center">Lucky Numbers</h1>
        <div class="number" *ngFor="let number of numbers">{{ number | number: '2.0-0'}}</div>
    </div>
    <div class="control-container">
        <button class="btn btn-primary btn-lg" (click)="startProgram()">Start Program</button>
        <div class="status-container">
            <h3 class="text-danger" *ngIf="anyErrors">ERROR</h3>
            <h3 class="text-success" *ngIf="messagesFinished && numbersFinished">FINISHED</h3>
            <h3 class="text-primary" *ngIf="running">Running
                <span>{{ (!numbersFinished && !messagesFinished) ? "both" : !numbersFinished ? "numbers" : "messages"}}</span>
            </h3>
        </div>
    </div>
    <div class="message-container">
        <h1 class="text-center">Messages</h1>
        <div class="message" *ngFor="let message of messages">{{ message }}</div>
    </div>
</div>